* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

body {
  margin: 0; }

.backstretch {
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999; }

.body-wrapper {
  padding-left: 80px; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: rgba(30, 30, 31, 0.85);
  z-index: 100; }
  .navbar__header {
    margin: 30px 0 70px;
    text-align: center;
    height: 85px; }
  .navbar__list-item {
    padding: 19px 0 13px; }
    .navbar__list-item a {
      display: inline-block;
      text-align: center;
      width: 100%;
      text-decoration: none; }
      .navbar__list-item a i {
        font-size: 28px;
        color: #686a6b; }

.main {
  width: 600px;
  text-align: center;
  margin: 50vh auto 0 auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  cursor: pointer; }
  .main::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .main:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
