/* ====================== Fonts ======================*/
@font-face {
	font-family: 'Conv_Fontfabric - MullerBold';
	src: url('fonts/Fontfabric - MullerBold.eot');
	src: local('☺'), url('fonts/Fontfabric - MullerBold.woff') format('woff'), url('fonts/Fontfabric - MullerBold.ttf') format('truetype'), url('fonts/Fontfabric - MullerBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_cinzel-bold_[allfont.ru]';
	src: url('fonts/cinzel-bold_[allfont.ru].eot');
	src: local('☺'), url('fonts/cinzel-bold_[allfont.ru].woff') format('woff'), url('fonts/cinzel-bold_[allfont.ru].ttf') format('truetype'), url('fonts/cinzel-bold_[allfont.ru].svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Stem-Medium';
	src: url('fonts/Stem-Medium.eot');
	src: local('☺'), url('fonts/Stem-Medium.woff') format('woff'), url('fonts/Stem-Medium.ttf') format('truetype'), url('fonts/Stem-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Stem-Regular';
	src: url('fonts/Stem-Regular.eot');
	src: local('☺'), url('fonts/Stem-Regular.woff') format('woff'), url('fonts/Stem-Regular.ttf') format('truetype'), url('fonts/Stem-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Stem-Thin';
	src: url('fonts/Stem-Thin.eot');
	src: local('☺'), url('fonts/Stem-Thin.woff') format('woff'), url('fonts/Stem-Thin.ttf') format('truetype'), url('fonts/Stem-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Oraqle Script';
	src: url('fonts/Oraqle Script.eot');
	src: local('☺'), url('fonts/Oraqle Script.woff') format('woff'), url('fonts/Oraqle Script.ttf') format('truetype'), url('fonts/Oraqle Script.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Stem-Bold';
	src: url('fonts/Stem-Bold.eot');
	src: local('☺'), url('fonts/Stem-Bold.woff') format('woff'), url('fonts/Stem-Bold.ttf') format('truetype'), url('fonts/Stem-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ====================== Font Classes ======================*/
.muller {
	font-family: 'Conv_Fontfabric - MullerBold';
}
.stem-reg {
	font-family: 'Conv_Stem-Regular';
}
.stem-thin {
	font-family: 'Conv_Stem-Thin';
}
.stem-bold {
	font-family: 'Conv_Stem-Bold';
}
.stem-med {
	font-family: 'Conv_Stem-Medium';
}
.oracle {
	font-family: 'Conv_Oraqle Script';
}
.cinzel {
	font-family: 'Conv_cinzel-bold_[allfont.ru]';
}
/* ====================== Base colors ======================*/
@base-black: #141414;
@base-blue: #01a7e3;
@base-gray: #a3a3a3;

/* ====================== Base settings ======================*/
html, body {
	// background-color: #101010;
	position: relative;

}

a {
	color: #fff;
	&:hover, &:focus {
		text-decoration: none;
		color: #fff;
	}
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	display: inline-block;
}
hr {
	height: 1px;
	border: none;
}

/* ====================== Main settings ======================*/

/* Главный блок */
.main {
	padding: 50px 0;
	height: 100vh;
	position: relative;
	z-index: 3;
	width: 100%;
	min-height: 675px;
	.lang {
		position: absolute;
		right: -27px;
		top: 160px;
		border: 1px solid rgba(255, 255, 255, .05);
		padding: 10px 20px;
		transform: rotate(90deg);
		&_a {
			text-transform: uppercase;
			.stem-med;
			font-size: 10px;
			color: #9d9d9d;
			&_active {
				.stem-reg;
				font-size: 12px;
				color: #fff;
			}
		}
		span {
			.stem-reg;
			font-size: 10px;
			color: #9d9d9d;
		}
	}
}
// Колонка с телефоном
.tel-collumn {
	.tel-number {
		white-space: nowrap;
		.stem-med;
		font-size: 18px;
		line-height: 2;
		.tel-span {
			color: @base-blue;
			font-size: 20px;
			.stem-bold;
		}
	}
	// Заказать звонок
	.request {
		.stem-reg;
		position: relative;
		border-left: 10px solid transparent;
		i {
			border: 1px solid #373737;
			border-radius: 50px;
			padding: 7px 9px;
			margin-right: 8px;
			position: absolute;
			left: -42px;
			top: -5px;
			transition: all .3s;
		}
		&:hover i {
			padding: 10px 12px;
			left: -45px;
			top: -8px;
			color: @base-blue;
			text-shadow: -1px 4px 7px rgba(34, 154, 255, 1);
		}
	}
}
/* Полоска навигации */
.nav-row {
	height: 67px;
	// Колонка меню
	.menu-collumn {
		line-height: 67px;
		.main-menu {
			.menu-item{
				margin: 0 5px;
				&-a {
					.stem-reg;
					font-size: 12px;
					color: #c1c1c1;
					border: 1px solid transparent;
					border-radius: 50px;
					padding: 14px 22px;
					transition: all .3s;
					&:hover {
						// border: 1px solid #373737;
						color: #fff;
						// .stem-med;
					}
				}
			}
		}
	}
}
//Кнопака с ховером
.btn_animated {
	border: 1px solid #393939;
	display: inline-block;
	padding:15px 32px;
	border-radius: 50px;
	background-color: transparent;
	-webkit-transition: background-color .2s ease-out, color .2s ease-out;
	transition: background-color .2s ease-out, color .2s ease-out;
	-webkit-transition: border .5s ease-out, color .5s ease-out;
	transition: border .5s ease-out, color .5s ease-out;
	-webkit-transition: color .2s ease-out, color .2s ease-out;
	transition: color .2s ease-out, color .2s ease-out;
	position: relative;
	&:hover {
		border: 1px solid @base-blue;
		color: #fff;
		.btn_hover {
			width: 100.5%;
			&:before {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
				-webkit-transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
				transition: opacity .2s ease-out, -webkit-transform .2s ease-out;
				transition: transform .2s ease-out, opacity .2s ease-out;
				transition: transform .2s ease-out, opacity .2s ease-out, -webkit-transform .2s ease-out;
				z-index: 1;
				border-radius: 50px;
			}
			&:after {
				opacity: 1;
				-webkit-transition: opacity 0s .25s ease-out;
				transition: opacity 0s .25s ease-out;
				z-index: 1;
				border-radius: 50px;
			}
		}
		.btn_text {
			color: #fff;
		}
	}
	.btn_hover {
		position: absolute;
		top: -1px;
		left: -1px;
		right: -1px;
		bottom: -1px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-image: -webkit-linear-gradient(left, @base-blue 0%, @base-blue 50%, @base-blue 100%);
			background-image: linear-gradient(to right, @base-blue 0%, @base-blue 50%, @base-blue 100%);
			opacity: 0;
			-webkit-transition: opacity .2s ease-out, -webkit-transform 0 ease-out;
			transition: opacity .2s ease-out, -webkit-transform 0 ease-out;
			transition: transform 0 ease-out, opacity .2s ease-out;
			transition: transform 0 ease-out, opacity .2s ease-out, -webkit-transform 0 ease-out;
			-webkit-transform: scale3d(0.7, 1, 1);
					transform: scale3d(0.7, 1, 1);
			border-radius: 50px;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: -webkit-linear-gradient(left, @base-blue 0%, @base-blue 50%, @base-blue 100%);
			background-image: linear-gradient(to right, @base-blue 0%, @base-blue 50%, @base-blue 100%);
			opacity: 0;
			-webkit-transition: opacity .4s ease-out;
					transition: opacity .4s ease-out;
			border-radius: 50px;
		}
	}
	.btn_text {
		.stem-reg;
		font-size: 12px;
		letter-spacing: .8px;
		color: #dcdcdc;
		position: relative;
		z-index: 2;
	}
}
// Полоска с основным контентом
.main-content-row {
	margin-top: 125px;
	.main-content {
		padding-left: 66px;
		h1 {
			.stem-bold;
			font-size: 36px;
			color: #fff;
			line-height: 1.389;
			margin-top: 0;
			margin-bottom: 0;
			span {
				color: @base-blue;
			}
		}
		h2 {
			.stem-reg;
			color: @base-gray;
			font-size: 14px;
			line-height: 1.786;
			margin-top: 15px;
			margin-bottom: 23px;
		}
	}
}
// Соц сети
.socials {
	letter-spacing: 3.4px;
	font-size: 16px;
	padding-left: 16px;
	.fa-instagram {
		font-size: 17px;
	}
	i {
		color: @base-gray;
		transition: all .3s;
	}
	a:hover {
		i {
			color: #17b3eb;
			text-shadow: 0px 4px 14px rgba(23,179,235,1);
		}
	}
	span {
		.stem-thin;
		font-size: 26px;
	}
}
// Контакты
.contacts {
	width: 100%;
	position: absolute;
	bottom: 50px;left: 0;	
	&-row {
		
		// Смотреть
		.watch {
			padding-right: 27px;
			a {
				.stem-reg;
				color: #fff;
			    border-left: 10px solid transparent;
				&:before {
					content: '';
					position: absolute;
					right: 94px;
					top: -15px;
					background-image: url(../img/play.png);
					width: 54px;
					height: 57px;
					transition: all .3s;
				}
				&:hover {
					transition: all .3s;
					// text-shadow: -2px 2px 6px rgba(10, 178, 231, 0.69);
					&:before {
						content: '';
						position: absolute;
						right: 94px;
						top: -15px;
						background-image: url(../img/play-hover.png);
						width: 54px;
						height: 57px;
					}
				}
			}
		}
	}
}

// Контейнер для линий
.line-container {
	position: relative;
	z-index: 2;
	&-footer {

	}
	// overflow: hidden;
	/* height: 100vh;
	min-height: 760px; */
}
// Линии
.line {
	position: absolute;
	
	top: 0;
	width: 1px;
	height: 100vh;
	min-height: 675px;
	background-color: rgba(255,255,255,0.05);
	z-index: 2;
	&-1 {
		left: 14px;
	}
	&-2 {
		left: 126px;
	}
	&-3 {
		left: 50%;
	}
	&-4 {
		right: 153px;
	}
	&-5 {
		right: 15px;
	}
	&-mouse {
		background-color: rgba(0,0,0,0);
		&:after {
			content: '';
			position: absolute;
			bottom: 55px;
			left: -11px;
			width: 23px;
			height: 67px;
			background-image: url(../img/mouse.png);
		}
	}
	&-footer {
		height: 785px;
	}
}
//Круги
.round-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	min-height: 675px;
	z-index: 2;
	overflow: hidden;
	.container {
		height: 100%;
	}
}
.round {
	position: absolute;
	border: 1px solid #fff;
	border-radius: 50%;
	opacity: .03;
	&-row {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&-1{
		height: 144px;
		width: 144px;
		left: 345px;
		top: 197px;
	}
	&-2{
		height: 94px;
		width: 94px;
		left: 230px;
		top: 60px;
	}
	&-3{
		width: 67px;
		height: 67px;
		left: 200px;
		top: 580px;
	}
	&-4{
		height: 28px;
		width: 28px;
		top: 186px;
		right: 200px;
	}
	&-5{
		height: 215px;
		width: 215px;
		right: -135px;
		top: 280px;
	}
	&-6{
		width: 93px;
		height: 93px;
		right: 36px;
		top: 280px;
	}
	&-7{
		width: 142px;
		height: 142px;
		right: -14px;
		top: 390px;
	}
	&-8{
		height: 20px;
		width: 20px;
		right: 150px;
		top: 460px;
	}
	&-9{
		height: 38px;
		width: 38px;
		right: 120px;
		top: 375px;
	}
}
/********* Слайдер *********/
.slider {
	&-buttons {
		position:absolute;
		right:65px;
		bottom:45px;
		margin-right:-9px;
		&_item {
			&:after {
				position: absolute;
				left: 25px;
				top: 5px;
				.stem-bold;
				font-size: 10px;
				color: @base-gray;
				border-left: 5px solid transparent;
			}
			&:before {
				font-size: 14px;
				.stem-reg;
				position: absolute;
				left: -84px;
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: all .3s;
			}
			position:absolute;
			display:inline-block;
			vertical-align:top;
			width:22px;
			height:22px;
			cursor:pointer;
			margin:0 4px;
			& canvas {
				opacity:.0;visibility:hidden;
				-webkit-transition:opacity .3s ease-in-out,visibility .3s ease-in-out;
				-o-transition:opacity .3s ease-in-out,visibility .3s ease-in-out;
				transition:opacity .3s ease-in-out,visibility .3s ease-in-out;
			}
			&:hover {
				.slider-buttons_item-round {
					background:@base-blue;
				}
				&:after {
					color: @base-blue;

				}
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
			&-1 {
				right: -24px;
				top: 313px;
				&:after {
					content: '01';
				}
				&:before {
					content: 'PromoHub';
				}
			}
			&-2 {
				right: 32px;
				top: 279px;
				&:after {
					content: '02';
				}
				&:before {
					content: 'Расцветай';
				}
			}
			&-3 {
				right: 69px;
				top: 235px;
				&:after {
					content: '03';
				}
				&:before {
					content: 'Эпитал';
				}
			}
			&-4 {
				right: 82px;
				top: 185px;
				&:after {
					content: '04';
				}
				&:before {
					content: 'FirstGame';
				}
			}
			&-5 {
				right: 69px;
				top: 125px;
				&:after {
					content: '05';
				}
				&:before {
					content: 'Пятница 13';
				}
			}
			&-6 {
				right: 32px;
				top: 74px;
				&:after {
					content: '06';
				}
				&:before {
					content: 'lorem ipsum';
				}
			}
			&-7 {
				right: -24px;
				top: 41px;
				&:after {
					content: '07';
				}
				&:before {
					content: 'lorem ipsum';
				}
			}
			&_active {
				&:after {
					color: @base-blue;
				}
				.slider-buttons_item-round {
						background:@base-blue;
					}
				cursor: default;
				& canvas {
					opacity:1.0;
					visibility:visible;
				}
				&:hover {
					.slider-buttons_item-round {
						background:@base-blue;
					}
				}
			}
			&-round {
				position:absolute;
				left:50%;
				top:50%;
				margin-left:-3px;
				margin-top:-3px;
				width:6px;
				height:6px;
				background:@base-gray;
				-webkit-border-radius:6px;
				-moz-border-radius:6px;
				border-radius:6px;
				-webkit-transition:background .3s ease-in-out;
				-o-transition:background .3s ease-in-out;
				transition:background .3s ease-in-out;
			}
		}
	}
	&-content {
		position: relative;
		&_friday {
			position: absolute;
			right: 108px;
			top: 38px;
			h2 {
				.stem-reg;
				font-size: 14px;
				color: #fff;
				margin: 0;
			}
		}
		&_item {
			position: absolute;
			top: 122px;
			right: 169px;
			visibility: hidden;
			opacity: 0;
			transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
			text-align: right;
			h3 {
				.stem-bold;
				font-size: 22px;
				color: #fff;
				margin: 0px 0px 6px 0px;		
			}
			hr {
				width: 140px;
				margin: 0;
				color: rgba(163, 163, 163, .3);
				background-color: rgba(163, 163, 163, .3);
				// opacity: .3;
				/* &:before {
					content: "";
					height: 1px;
					width: 60px;
					position: absolute;
					left: 0;
					top: 30px;
					background-color: @base-blue;
					box-shadow: -2px 3px 9px 0.5px #229aff;
				} */
			}
			h4 {
				.stem-reg;
				font-size: 14px;
				margin: 8px 0 0 0;
				color: @base-gray;
			}
			&_active {
				visibility: visible;
				opacity: 1;
				color: @base-gray;
			}
		}
	}
}
/* Контейнер для фона */
.background-container {
	position: absolute;
	height: 100vh;
	min-height: 675px;
	width: 100%;
	z-index: 1;
	&_item {
		position: absolute;
		background: #0e0e0e url(../img/rolling.svg);
		background-size: cover !important;
		background-position: center center;
		background-repeat: no-repeat;
		// height: 100%;
		height: 100vh;
		min-height: 675px;
		width: 100%;
		transition:background 1s ease-in-out;
		transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
		opacity:.0;
		visibility:hidden;
		/* &-1 {
			background-image: url(../img/slides/1.jpg);
		}
		&-2 {
			background-image: url(../img/slides/2.jpg);
		}
		&-3 {
			background-image: url(../img/slides/3.png);
		}
		&-4 {
			background-image: url(../img/slides/4.png);
		}
		&-5 {
			background-image: url(../img/slides/5.png);
		}
		&-6 {
			background-image: url(../img/slides/1920kh1080_game.jpg);
		}
		&-7 {
			background-image: url(../img/slides/1920kh1080.jpg);
		} */
		&_active {
			opacity: 1;
			visibility: visible;
		}
	}
}

/* ====================== Portfolio Section ======================*/
.portfolio {
	height: 993px;
	position: relative;
	&_item {
		position: absolute;
		background: #111216 url(../img/rolling.svg) no-repeat center center;
		background-size: cover !important;
		overflow: hidden;
		&-1 {
			width: 34%;
			height: 44%;
			top: 0;
			left: 0;
			// background-image: url(../img/cases/1.jpg);
			// background-image: url(../img/rolling.svg);			
		}
		&-2 {
			width: 34%;
			height: 56.8%;
			top: 0;
			left: 34%;
			// background-image: url(../img/cases/2.jpg);
		}
		&-3 {
			width: 32%;
			height: 38.4%;
			top: 0;
			left: 68%;
			// background-image: url(../img/cases/3.jpg);
		}
		&-4 {
			top: 44%;
			left: 0;
			width: 34%;
			height: 56%;
			// background-image: url(../img/cases/4.jpg);
		}
		&-5 {
			top: 56.8%;
			left: 34%;
			width: 34%;
			height: 43.2%;
			// background-image: url(../img/cases/5.jpg);
		}
		&-6 {
			width: 32%;
			height: 61.6%;
			left: 68%;
			top: 38.4%;
			// background-image: url(../img/cases/6.jpg);
		}
		&:hover {
			.portfolio_item_cover {
				transform: translate(0px, 0%);
				visibility: visible;
			}
		}
		&_cover {
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(19, 19, 19, .95);
			visibility: hidden;
			text-align: center;
			transform: translate(0px, 100%);
			transition: all .5s;
			&_content {
				position: absolute;
				top: 50%;
				width: 100%;
				margin-top: -61px;
			}
			&_header {
				.stem-bold;
				font-size: 22px;
				color: #fff;
				margin: 0 0 25px 0;
			}
			&_btn {
				
			}
		}
	}
}
.i-lazy_cover{
	-webkit-background-size:auto!important;
	background-size:auto!important;
	background-position:center center!important
}
/* ====================== Footer Section ======================*/
.footer-section {
	position: relative;
	z-index: 3;
	// height: 785px;
	background-color: #000;
	background-image: url(../img/footer-bg.png);
	background-size: auto;
	background-position: top right;
	background-repeat: no-repeat;
	&_main-row {
		height: 535px;
		padding: 125px 0 125px 0;
		&_offer-col {
			&_offer {
				.stem-med;
				font-size: 10px;
				color: @base-gray;
				opacity: .3;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin: 0;
			}
			&_header {
				.stem-bold;
				font-size: 36px;
				color: #fff;
				margin: 50px 0;
				span {
					color: @base-blue;
				}
			}
			&_text {
				.stem-reg;
				font-size: 14px;
				color: @base-gray;
				margin: 0;
			}
		}
		
	}
	&_form-col {
		text-align: center;
		&_form {
			display: inline-block;
			width: 275px;
			text-align: left;
			form {
				margin-bottom: 10px;
				position: relative;
				p {
					color: #fff;
					font-size: 14px;
					text-align: left;
					.stem-reg;
					span {
						color: @base-blue;
					}
				}

				input {
					width: 275px;
					height: 55px;
					border-radius: 100px;
					margin-bottom: 9px;
					border: none;
					padding-left: 45px;
					border-top: 3px solid rgba(0, 0, 0, .3);
					background-repeat: no-repeat;
					background-position: 24px center;
					&:focus {
						outline: none;
					}
				}
				.phone-bg {
					position: absolute;
					// top: 124px;
					top: 64px;
					left: 0;
					height: 55px;
					width: 283px;
					&-item {
						display: inline-block;
						background-color: #fff;
						height: 100%;
						margin-right: 4px;
						&-1 {
							width: 77px;
							border-top-left-radius: 50px;
							border-bottom-left-radius: 50px;
							border-top-right-radius: 20px;
							border-bottom-right-radius: 20px;
							border-top: 3px solid rgba(0,0,0,.3)
						}
						&-2 {
							width: 70px;
							border-radius: 12px;
							border-top: 3px solid rgba(0,0,0,.3)
						}
						&-3 {
							width: 112px;
							margin: 0;
							border-radius: 20px 50px 50px 20px;
							border-top: 3px solid rgba(0,0,0,.3)
						}
					}
				}
				.name-input {
					background-image: url(../img/persone.png);
				}
				.phone-input {
					background-image: url(../img/phone.png);
					background-color: transparent;
					position: relative;z-index: 2;
					border: none;
				}
				button {
					width: 275px;
					margin-top: 4px;
					height: 55px;
					&:focus {
						outline: none;
					}
				}
			}
			p {
				.stem-reg;
				font-size: 12px;
				color: @base-gray;
				letter-spacing: 1px;
				text-align: center;
				/* &:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					background-image: url(../img/clock.png);
					height: 13px;
					width: 13px;
				} */
			}
		}
	}
	footer {
		position: relative;
		// bottom: 0;
		height: 255px;
		border-top: 3px solid @base-blue;
		width: 100%;
		.footer-containter {
			height: 100%;
		}
		.footer-row {
			width: 100%;
			position: relative;
			height: 100%;
		}
		.footer-col {
			vertical-align: middle;
			display: inline-block;
			position: relative;
			h4 {
				.stem-bold;
				font-size: 14px;
				color: #fff;
				p {

				}
			}
			&-1 {
				width: 12%;
				height: 100%;
				.socials {
					padding: 0;
				}
				&_content {
					position: absolute;
					top: 50%;
					margin-top: -52px;
					height: 104px;
				}
			}
			&-2 {
				width: 25%;
				p {
					color: @base-gray;
					font-size: 12px;
					.stem-reg;
				}
			}
			&-3 {
				width: 20%;
				ul {
					li {
						display: block;
						a {
							transition: all .3s;
							color: @base-gray;
							.stem-reg;
							font-size: 12px;
							&:hover {
								color: @base-blue;
							}
						}
					}
				}
			}
			&-4 {
				width: 20%;
				p {
					color: @base-gray;
					font-size: 12px;
					.stem-reg;
				}
			}
			&-5 {
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -30px;
				text-align: right;
			}
		}
	}
}
.footer-bg {
	background-color: #070707;
	background-image: url(../img/footer-bg.png);
	background-size: auto;
	background-position: bottom right;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 785px;
	width: 100%;
	z-index: 1;
}


/* ====================== Media Queries ======================*/
@media (max-width: 350px) {
	body {
		font-size: 10px;
	}
	.tel-collumn {
		line-height: 3;
		.tel-number {
			font-size: 10px !important;
			span {
				font-size: 11px !important;
			}
		}
		.request {
			
		}
	}
	.main-content {
		text-align: center;
		h1 {
			font-size: 20px !important;
		}
		h2 {
			font-size: 9px !important;
			// color: #fff !important;
		}
	}
	.slider {
		margin-top: 100px;
		text-align: center;
		&-buttons {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			&_item {
				position: relative;
				top: auto !important;
				right: auto !important;
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}

			}
		}
	}
	.contacts-row {
		line-height: 21px;
	}
	.contacts-row .watch a {
		font-size: 14px;
	}
	.portfolio_item_cover {
		&_header {
			font-size: 10px !important;
		}
		a {
			padding: 3px 5px;
			.btn_text {
				font-size: 6px !important;
			}
		}
		&_content {
			margin-top: -37px;
		}
	}
	.footer-section {
		background-position: left bottom;
		height: auto;
	}
	.footer-section_main-row {
		padding: 20px 0;
	}
	.footer-section_main-row_offer-col {
		text-align: center;
		&_offer {
			
		}
		&_header {

		}
		&_text {

		}
	}
	.footer-section_form-col_form form {
		margin-top: 20px;
	}
	.footer-section_form-col_form form p{
		text-align: center;
	}
	.footer-section_form-col_form form input {
		font-size: 14px;
	}
	footer {
		position: relative !important;
		margin-top: 200px !important;
		height: auto !important;
		.footer-col {
			display: block !important;
			text-align: center;
			width: 100% !important;
		}
		.footer-col-1_content {
			position: relative !important;
		}
		.footer-col-5 {
			position: relative !important;
			display: block !important;
		    margin-top: 15px !important;
		    margin-bottom: 67px;
			text-align: center !important;
		}
		.footer-row {
			margin-top: 65px;
		}
	}
}
@media (min-width: 351px) and (max-width: 480px) {
	body {
		font-size: 10px;
	}
	.tel-collumn {
		.tel-number {
			font-size: 14px;
			line-height: 3;
			span {
				font-size: 15px !important;
			}
		}
		.request {
			
		}
	}
	.main-content {
		text-align: center;
		h1 {
			font-size: 24px !important;
		}
		h2 {
			font-size: 11px !important;
			// color: #fff !important;
		}
		.calc-btn {
			.btn_text {
				font-size: 14px;
			}
		}
	}
	.slider {
		margin-top: 100px;
		text-align: center;
		&-buttons {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			&_item {
				position: relative;
				top: auto !important;
				right: auto !important;
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
				
			}
		}
	}
	.contacts-row {
		line-height: 21px;
	}
	.contacts-row .watch a {
		font-size: 14px;
	}
	.portfolio_item_cover {
		&_header {
			font-size: 10px !important;
		}
		a {
			padding: 3px 5px;
			.btn_text {
				font-size: 6px !important;
			}
		}
		&_content {
			margin-top: -37px;
		}
	}
	.footer-section {
		background-position: left bottom;
		height: auto;
	}
	.footer-section_main-row {
		padding: 20px 0;
	}
	.footer-section_main-row_offer-col {
		text-align: center;
		&_offer {
			
		}
		&_header {

		}
		&_text {

		}
	}
	.footer-section_form-col_form form {
		margin-top: 20px;
	}
	.footer-section_form-col_form form p{
		text-align: center;
	}
	.footer-section_form-col_form form input {
		font-size: 14px;
	}
	footer {
		position: relative !important;
		margin-top: 200px !important;
		height: auto !important;
		.footer-col {
			display: block !important;
			text-align: center;
			width: 100% !important;
		}
		.footer-col-1_content {
			position: relative !important;
		}
		.footer-col-5 {
			position: relative !important;
			display: block !important;
		    margin-top: 57px !important;
		    margin-bottom: 67px;
		    text-align: center !important;
		}
		.footer-row {
			margin-top: 65px;
		}
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.slider {
		margin-top: 100px;
		text-align: center;
		&-buttons {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			&_item {
				position: relative;
				top: auto !important;
				right: auto !important;
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
				
			}
		}
	}
	.contacts-row {
		line-height: 21px;
	}
	.portfolio_item_cover {
		&_content {
			h3 {
				font-size: 15px;
			}
			a {
				padding: 5px 30px;
				.btn_text {
					font-size: 10px;
				}
			}
		}
	}
	.footer-section {
		background-position: left bottom;
		height: auto;
	}
	.footer-section_main-row {
		padding: 20px 0;
	}
	.footer-section_main-row_offer-col {
		text-align: center;
		&_offer {
			
		}
		&_header {

		}
		&_text {

		}
	}
	.footer-section_form-col_form form {
		margin-top: 20px;
	}
	.footer-section_form-col_form form p{
		text-align: center;
	}
	.footer-section_form-col_form form input {
		font-size: 14px;
	}
	footer {
		position: relative !important;
		margin-top: 200px !important;
		height: auto !important;
		.footer-col {
			display: block !important;
			text-align: center;
			width: 100% !important;
		}
		.footer-col-1_content {
			position: relative !important;
		}
		.footer-col-5 {
			position: relative !important;
			display: block !important;
		    margin-top: 57px !important;
		    margin-bottom: 67px;
		    text-align: center !important;
		}
		.footer-row {
			margin-top: 65px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: auto;
		margin: 0 50px;
		padding: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: auto;
		margin: 0 50px;
		padding: 0;
	}
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.container {
		width: auto;
		margin: 0 50px;
		padding: 0;
	}
}
@media (min-width: 1601px) {
	.container {
		width: auto;
		margin: 0 50px;
		padding: 0;
	}
	.menu-item-a {
		font-size: 14px !important;
	}
	.main-content {
		h1 {
			font-size: 44px !important;
		}
		h2 {
			font-size: 16px !important;
			margin: 25px 0 35px 0 !important;
		}
		.calc-btn {
			padding: 18px 66px;
			.btn_text {
				font-size: 16px !important;
			}
		}
	}

}
